---
import Container from "./Container.astro";

const { children, link, foto, titulo, descricaoImg, descricao, date} = Astro.props;
---

<Container justify="center">
    <article>
        <header>
            <figure>
                <a href={link}>
                    <img src={foto} alt={descricaoImg}>
                </a>
            </figure>
            <a href={link} target="_blank">
                <h2>{titulo}</h2>
            </a>
            <time datetime={date}>{date}</time>
        </header>
        <p>
            {descricao}
        </p>
    </article>
</Container>

<style>
    article {
        padding: 8px;
        background-color: white;
        text-align: center;
        border-bottom: 2px solid rgb(21, 69, 131) ;
        border-radius: 8px;
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.315) 0px 4px 16px;
        transition: linear 0.3s;
    }

    header a {
        color: rgb(23, 36, 48);
    }

    time {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        
    }

    h2 {
        font-size: 20px;
        margin: 8px 0 0 0;
    }

    p {
        font-size: 14px;
        padding: 8px;
    }

    figure {
        overflow: hidden;
        border-radius: 8px;
    }

    figure img {
        width: 100%;
        max-height: 216px;
        border-radius: 8px;
        object-fit: cover;
        transition: ease-in 1s;
    }

    figure img:hover{
        scale: 1.1;
    }

    article:hover {
        box-shadow: rgba(0, 0, 0, 0.315) 0px 16px 28px;
    }

    header a:hover {
        color: rgb(21, 69, 131);
    }

    @media (max-width: 768px) {
        article {
            width: 90vw;
        }
    }
</style>