---
import BlogArticle from "../components/BlogArticle.astro";
import Container from "../components/Container.astro";

type ArticleModule = {
        metadata: {
        titulo: string;
        descricao: string;
        foto: string;
        descricaoImg: string;
        date: string;
        link?: string;
    };
};

const articles = await Astro.glob<ArticleModule>('../pages/articles/*.astro');
---

<Container>
    <div class="grid">
        {articles.slice().sort((a, b) => {
            const dateA = new Date(a.metadata?.date).getTime();
            const dateB = new Date(b.metadata?.date).getTime();
            return dateB - dateA;
        })
        .map(article => {
        const meta = article.metadata ?? {};

        return (
            <BlogArticle
            link={meta.link}
            date={meta.date}
            foto={meta.foto}
            descricaoImg={meta.descricaoImg}
            descricao={meta.descricao}
            titulo={meta.titulo}
            />
        );
        })}
    </div>
</Container>

<style>
    .grid {
        padding: 6.8vh 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }

    @media (max-width: 768px) {
        .grid {
            padding: 6.8vh 2.8vh;
            grid-template-columns: 1fr;
        }
    }
</style>